In [1]:
# Import required libraries
import pandas as pd
import sqlalchemy

from sqlalchemy import URL, create_engine

## Data Loading

In [2]:
# Define url object
url_object = URL.create(
    "postgresql+psycopg2",
    username="postgres",
    password="postgres",  # plain (unescaped) text
    host="localhost",
    database="project4"
)

In [3]:
# Create a SQLAlchemy engine
engine = create_engine(url_object)
conn = engine.connect()
print(type(engine))

<class 'sqlalchemy.engine.base.Engine'>

In [4]:
# Query All Records in sql table
df_inflation = pd.read_sql('SELECT * FROM inflation_table',con=engine)

df_inflation.head()

,index,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
0,0,1913,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0,9.9,NaN,NaN
1,1,1914,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1,10.0,NaN,NaN
2,2,1915,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3,10.1,NaN,NaN
3,3,1916,10.4,10.4,10.5,10.6,10.7,10.8,10.8,10.9,11.1,11.3,11.5,11.6,10.9,NaN,NaN
4,4,1917,11.7,12.0,12.0,12.6,12.8,13.0,12.8,13.0,13.3,13.5,13.5,13.7,12.8,NaN,NaN