In [1]:
# Import required libraries
import pandas as pd
from pathlib import Path

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import URL, create_engine, text, inspect, func

## Data Loading

In [2]:
# Read inflation data
file_path = Path("C:/Users/vdumlao/Documents/GitHub/Project_4/Resources/SeriesReport-20240201235434_9711f8.xlsx")
df_inflation = pd.read_excel(file_path,header=11)

# Display sample data
df_inflation.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1,HALF2
0,1905,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0,,
1,1905,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1,,
2,1905,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3,,
3,1905,10.4,10.4,10.5,10.6,10.7,10.8,10.8,10.9,11.1,11.3,11.5,11.6,,
4,1905,11.7,12.0,12.0,12.6,12.8,13.0,12.8,13.0,13.3,13.5,13.5,13.7,,

In [3]:
# Define url object
url_object = URL.create(
    "postgresql+psycopg2",
    username="postgres",
    password="postgres",  # plain (unescaped) text
    host="localhost",
    database="project4",
)

In [4]:
# Create a SQLAlchemy engine
engine = create_engine(url_object)

df_inflation.to_sql('inflation_table', engine, if_exists='replace')

111

In [5]:
inspector = inspect(engine)
inspector.get_table_names()

['inflation_table']

In [6]:
# Get a list of column names and types
columns = inspector.get_columns('inflation_table')
for c in columns:
    print(c['name'], c["type"])

index BIGINT
Year BIGINT
Jan DOUBLE PRECISION
Feb DOUBLE PRECISION
Mar DOUBLE PRECISION
Apr DOUBLE PRECISION
May DOUBLE PRECISION
Jun DOUBLE PRECISION
Jul DOUBLE PRECISION
Aug DOUBLE PRECISION
Sep DOUBLE PRECISION
Oct DOUBLE PRECISION
Nov DOUBLE PRECISION
Dec DOUBLE PRECISION
HALF1 TEXT
HALF2 TEXT

In [7]:
# create a session
session = Session(engine)
session.execute(text('SELECT * FROM inflation_table LIMIT 5')).fetchall()

[(0, 1913, 9.8, 9.8, 9.8, 9.8, 9.7, 9.8, 9.9, 9.9, 10.0, 10.0, 10.1, 10.0, 9.9, None, None),
 (1, 1914, 10.0, 9.9, 9.9, 9.8, 9.9, 9.9, 10.0, 10.2, 10.2, 10.1, 10.2, 10.1, 10.0, None, None),
 (2, 1915, 10.1, 10.0, 9.9, 10.0, 10.1, 10.1, 10.1, 10.1, 10.1, 10.2, 10.3, 10.3, 10.1, None, None),
 (3, 1916, 10.4, 10.4, 10.5, 10.6, 10.7, 10.8, 10.8, 10.9, 11.1, 11.3, 11.5, 11.6, 10.9, None, None),
 (4, 1917, 11.7, 12.0, 12.0, 12.6, 12.8, 13.0, 12.8, 13.0, 13.3, 13.5, 13.5, 13.7, 12.8, None, None)]